[alias]
	logdog = log --decorate --oneline --graph
	root = rev-parse --show-toplevel
[oh-my-zsh]
	hide-dirty = 1
[pull]
        ff = only
[init]
        defaultBranch = main
[clean]
        requireForce = false
[core]
        autocrlf = input
