[alias]
	logdog = log --decorate --oneline --graph
	root = rev-parse --show-toplevel
[oh-my-zsh]
	hide-dirty = 1
[pull]
    ff = only
[init]
    defaultBranch = main
[clean]
    requireForce = false
[core]
    autocrlf = input
    pager = delta --paging always
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = zdiff3
[delta]
    line-numbers = true
    side-by-side = true
    hunk-header-style = omit
    max-line-length = 0
    wrap-max-lines = unlimited
    diff-so-fancy = true
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
[rerere]
    enabled = true
    autoupdate = true
[push]
    autoSetupRemote = true
